export(aggregateModelsTable)
export(calculateModel)
export(dinvGamma)
export(empiricalHpd)
export(exhaustive)
export(getBmaSamples)
export(getComputation)
export(getFitSamples)
export(getFunctionSamples)
export(getInclusionProbs)
export(getLogModelPrior)
export(getMcmc)
export(getRhos)
export(getSamples)
export(getSearch)
export(glmGetSamples)
export(glmModelData)
export(hyp2f1)
export(logHyp2f1Laplace)
export(makeBasis)
export(modelData)
export(pinvGamma)
export(plotCurveEstimate)
export(postOptimize)
export(qinvGamma)
export(rinvGamma)
export(rshrinkage)
export(scrBesag)
export(scrHpd)
export(stochSearch)
importFrom(splines,bs)
importFrom(splines,spline.des)
importFrom(statmod,gauss.quad)
useDynLib(hypergsplines,cpp_aggregateModelsTable)
useDynLib(hypergsplines,cpp_calculateModel)
useDynLib(hypergsplines,cpp_exhaustive)
useDynLib(hypergsplines,cpp_exhaustive2)
useDynLib(hypergsplines,cpp_glmExhaustive)
useDynLib(hypergsplines,cpp_glmGetSamples)
useDynLib(hypergsplines,cpp_glmLogMargLik)
useDynLib(hypergsplines,cpp_glmStochSearch)
useDynLib(hypergsplines,cpp_hyp2f1)
useDynLib(hypergsplines,cpp_linApproxDens)
useDynLib(hypergsplines,cpp_log_hyp2f1_laplace)
useDynLib(hypergsplines,cpp_logMargLik)
useDynLib(hypergsplines,cpp_stochSearch)
