export(aggregateModelsTable)
export(calculateModel)
export(dinvGamma)
export(empiricalHpd)
export(exhaustive)
export(getBmaSamples)
export(getComputation)
export(getFitSamples)
export(getFunctionSamples)
export(getInclusionProbs)
export(getLogModelPrior)
export(getMcmc)
export(getRhos)
export(getSamples)
export(getSearch)
export(glmGetSamples)
export(glmModelData)
export(hyp2f1)
export(logHyp2f1Laplace)
export(makeBasis)
export(modelData)
export(pinvGamma)
export(plotCurveEstimate)
export(postOptimize)
export(qinvGamma)
export(rinvGamma)
export(rshrinkage)
export(scrBesag)
export(scrHpd)
export(stochSearch)
importFrom(splines,bs)
importFrom(splines,spline.des)
importFrom(statmod,gauss.quad)
useDynLib(hypergsplines,cpp_hyp2f1,cpp_calculateModel,cpp_exhaustive,cpp_exhaustive2,cpp_stochSearch,cpp_glmExhaustive,cpp_glmGetSamples,cpp_linApproxDens,cpp_glmStochSearch,cpp_log_hyp2f1_laplace,cpp_logMargLik,cpp_glmLogMargLik,cpp_aggregateModelsTable)
