export(aggregateModelsTable)
export(calculateModel)
export(exhaustive)
export(getBmaSamples)
export(getFitSamples)
export(getFunctionSamples)
export(getInclusionProbs)
export(getLogModelPrior)
export(getRhos)
export(getSamples)
export(glmGetSamples)
export(glmModelData)
export(empiricalHpd)
export(scrHpd)
export(scrBesag)
export(hyp2f1)
export(logHyp2f1Laplace)
useDynLib(hypergsplines, cpp_hyp2f1, cpp_calculateModel, cpp_exhaustive, cpp_exhaustive2, cpp_stochSearch, cpp_glmExhaustive, cpp_glmGetSamples, cpp_linApproxDens, cpp_glmStochSearch, cpp_log_hyp2f1_laplace, cpp_logMargLik, cpp_glmLogMargLik, cpp_aggregateModelsTable)
export(dinvGamma)
export(pinvGamma)
export(qinvGamma)
export(rinvGamma)
importFrom(splines, bs, spline.des)
export(makeBasis)
export(modelData)
export(getComputation)
importFrom(statmod, gauss.quad)
export(getSearch)
export(getMcmc)
export(plotCurveEstimate)
export(postOptimize)
export(rshrinkage)
export(stochSearch)
